{% extends "jgo/manage/man_list_matcher.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block page_title %}
    <h3>
        {% blocktrans %}Abgeschlossene Patenschaften{% endblocktrans %}
    </h3>
{% endblock %}

{% block list %}
    <table id="filter-table" class="list table" style="display: table;">
        <thead>
            <tr>
                <th class="filter">
                    {% trans "Gotte/Götti" %}
                </th>
                <th class="filter">
                    {% trans "Neumitglied" %}
                </th>
                <th class="filter">
                    {% trans "Angemeldet am" %}
                </th>
                <th class="filter">
                    {% trans "Notizen" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for godchild in object_list %}
                {% with godparent=godchild.godparent %}
                    <tr class="godparent-{{ godparent.id }} godchild-{{ godchild.id }}">
                        <td>
                            {% include 'jgo/snippets/match_entry.html' with subject=godparent matching_slots=godchild.slots %}
                        </td>
                        <td>
                            {% include 'jgo/snippets/match_entry.html' with subject=godchild matching_slots=godparent.slots %}
                        </td>
                        <td>
                            {{ godchild.creation_date }}
                        </td>
                        <td>
                            {{ godchild.notes }}
                            <a href="{% url godchild.admin_change_url_name godchild.id %}" class="bi bi-pencil-square"></a>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
