{% load i18n %}
{% if perms.juntagrico_godparent.can_make_matches %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#godparentman">
            {% trans "Gotte/Götti Vermittlung" %}
            <i class="fas fa-angle-right">
            </i>
        </a>
        <div class="collapse{% if request.resolver_match.app_name == 'jgo' and 'match' in request.resolver_match.url_name %} show{% endif %}" id="godparentman">
            <ul class="nav flex-column subadmin-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jgo:match' %}">
                        {% trans "Passend" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jgo:unmatchable' %}">
                        {% trans "Nicht passend" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jgo:matched' %}">
                        {% trans "Vermittelt" %}
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endif %}